<style>
@font-face {
  font-family: monster;
  src: url(monster.ttf);
}
@font-face {
  font-family: monster-filled;
  src: url(monster-filled.ttf);
}
#header {
	position: fixed;
    top: 0px;
    height: 128px;
    left: 0px;
    right: 0px;
}
#hcontainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 32px;
    background-color: #000;
}
h1 {
    position: relative;
    color: #000;
    text-align: center;
    bottom: 0px;
    margin: 0px;
    margin-top: 32px;
    font-family: monster;
    font-size: 48px;
}
#logo {
    position: absolute;
    top: 0px;
    height: 128px;
    left: 10%;
}
video {
	pointer-events: none;
    border: 2px solid #000;
    width: auto;
    height: 100%;
    border-top: 0px;
    border-bottom: 0px;
    background-color: #000;
}
#vid {
    position: fixed;
    top: 128px;
    left: 10%;
    right: 10%;
    bottom: 32px;
}
button {
    display: inline-block;
    background-color: #FFF;
    border: 0px;
    border-radius: 2px;
    color: #000;
    font-family: monster-filled;
    font-size: 20px;
    margin-top: 4px;
}
#footer {
	background-color: #000;
	position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 32px;
}
select {
    font-family: monster-filled;
    background-color: #FFF;
    border: 2px solid;
    border-radius: 2px;
    padding: 0px;
    font-size: 20px;
}
</style>
<div id="header">
	<h1>HOT Man Music Artist</h1>
	<div id="hcontainer">
	</div>
	<img id="logo" src="/actor.png">
</div>
<div id="vid" align="center" style="overflow-y: auto;">
	<div>
	<video id="video" preload="metadata" poster="/cover.png" onended="End(this)">
		<source id="source" src="imagine_dragons-whatever_it_takes-480p.webm" type="video/mp4">
	</video>
	</div>
</div>
<div id="footer" align="center">
	<button onclick="Toogle(this)" id="toggle">Play</button>
	<select onchange="Change(this.value)">
		<option value="480p">Quality 480p</option>
		<option value="360p">Quality 360p</option>
		<option value="240p">Quality 240p</option>
		<option value="144p">Quality 144p</option>
	</select>
</div>
<script>
var sources = [
	"./imagine_dragons-whatever_it_takes-480p.webm",
	"./imagine_dragons-whatever_it_takes-360p.webm",
	"./imagine_dragons-whatever_it_takes-240p.webm",
	"./imagine_dragons-whatever_it_takes-144p.webm"
];
function Change(value = undefined) {
	var video = document.getElementById("video");
	var source = document.getElementById("source");
	var toggle = document.getElementById("toggle");
	var res = value;
	var pause = video.paused;
	var time = video.currentTime;
	for (var i in sources) {
		if (sources[i].includes(res)) {
			console.log(sources[i]);
			video.pause();
			source.src = sources[i];
			video.load();
			if (pause) {
				video.currentTime = time;
				video.pause();
				toggle.innerText = "Play";
			} else {
				video.currentTime = time;
				video.play();
				toggle.innerText = "Pause";
			}
		}
	}
}
function Toogle(element = undefined) {
	var video = document.getElementById("video");
	if (!video.paused) {
		video.pause();
		element.innerText = "Play";
	} else {
		video.play();
		element.innerText = "Pause";
	}
}
function End(element = undefined) {
	element.currentTime = 0;
	var toggle = document.getElementById("toggle");
	toggle.innerText = "Play";
}
</script>